/*MAIN PAGE STYLES*/
body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  /*font-family: Arial, Helvetica, sans-serif;*/
  text-align: center;
  color:black;
}

body, html{
    height:100%; 
    background-image: url("tileback.jpg");
}

.main-page {
    font-family: 'Press Start 2P', cursive;
}

.navbar{
    padding:0;
    margin:0;
    font-size: 0.75em;
}
textarea{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.adminpage{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

canvas{
    text-shadow: 0 0 3px #000;
}

.overflow{
    overflow: scroll;
}

.bawx{
	position: inline;
    overflow: scroll;
}

/*LOGIN STYLES*/
.loginform {
  background: #fff;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  background-image: url("tileback.jpg");
}
  input {
    display: block;
    margin: auto auto;
    margin-bottom: 1em;
    padding: .4em 0;
    padding-left: .2em;
    border: none;
    border-bottom: 1px solid #eaeaea;
    color: #757575;
    border-radius: 8px;
 
  }

  .centeredthing{
    width: 100%;
    margin: 0 auto;
    padding-left: auto;
    padding-right: auto;
  }

/*CHAT PAGE STYLES*/

/*GAME PAGE STYLES*/
.gamepage{
    background-image: url("tileback.jpg");
    
}

/* MAIN PAGE HERO IMAGE */
/*See hero-page example here: https://www.w3schools.com/howto/howto_css_hero_image.asp*/
/*The image was gotten under the free creative commons license from :
    CC0 Creative Commons
    Free for commercial use 
    No attribution required
*/

/*MAIN PAGE*/
.centered {
    position: absolute;
    padding-top: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    background-color: white;
    opacity: 0.9;
    border-radius: 30px;
    padding-bottom: 2em;
    padding-top: 2em;
}

.main-play-button{
    width: 30%;
    height: 4em;
    opacity: 0.7;
    background-color: papayawhip;
    color: black;
    padding-top: 10px;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    border: 1px solid black; 
    border-radius: 25px;
    position: relative;
}
.main-play-button-span{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
}

/*PROFILE PAGE*/
.backsplash{
    background-color: white;
    opacity: .9;
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile_pic{
    display: inline-block;
    width: 300px;
    height: 50px;
    margin: 1em;
}
.profile_name{
    display: inline-block;
    width: 60%;
    height: 20px;
    margin: 1em;
    font-size: 3em;
}


/*MOBILE SITE - BOOTSTRAP EDITS*/
 @media screen and (max-width: 480px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    textarea{
        width: 100%;
    }

    .logo {
        font-size: 150px;
    }

    .navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }

    #canvas{
        width:100%;
        height: 90%;
    }
  }
