/*MAIN PAGE STYLES*/
body {
  margin: 0;
  font-family: 'Cinzel Decorative', cursive;
  /*font-family: Arial, Helvetica, sans-serif;*/
  text-align: center;
  color:black;
}

body, html{
    height:100%; 
}

.main-page {
    font-family: 'Cinzel Decorative', cursive;
}

.navbar{
    padding:0;
    margin:0;
}

/* MAIN PAGE HERO IMAGE */
/*See hero-page example here: https://www.w3schools.com/howto/howto_css_hero_image.asp*/
/*The image was gotten under the free creative commons license from :
    CC0 Creative Commons
    Free for commercial use 
    No attribution required
*/
.hero-image {
    /* The image used */
    background-image: url("hero-image.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*MAIN PAGE PLAY BUTTON*/
.main-play-button{
    width: 30%;
    height: 4em;
    opacity: 0.7;
    background-color: papayawhip;
    color: black;
    padding-top: 10px;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    border: 1px solid black; 
    border-radius: 25px;
    position: relative;
}
.main-play-button-span{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
}

/*MOBILE SITE - BOOTSTRAP EDITS*/
 @media screen and (max-width: 480px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }

    @media (min-width: 480px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
